[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gevent = "*"
flask = "*"
mongoengine = "*"
pymongo = "*"
flask-cors = "*"
bcrypt = "*"
python-dotenv = "*"
dnspython = "*"
pyjwt = "*"
cffi = "*"

[dev-packages]

[requires]
python_version = "3.9"
